body {
    font-family: 'Segoe UI';
    margin: 0;
    padding: 0;
}

.nav ul{
    width: 100%;
    list-style-type: none;
    text-align: center;
    overflow: hidden;
    background-color: #333;
    padding: 0;
    margin: 0;
}

.nav li{
    float: left;
}

.nav li l{
    float: right;
}

.nav li a{
    display: block;
    color: white;
    font-size: 22px;
    text-transform: uppercase;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover{
    background-color: #24ccf2;
}

.active{
    background-color: #0790b8;
}

i{
    padding-right: 10px;
}

.content{

}

.main-content{
    margin: 30px 0 0 30px;
    padding: 10px ;
    background-color: #ededed;
    width: 61%;
    float:left;
    display: inline-block;
    border-radius: 20px;
}

.notes{
    margin: 30px 30px 0 0;
    padding: 20px;
    background-color: #c9ebf8;
    width: 30%;
    float: right;
    display: inline-block;
    border-radius: 20px;
}

.head{
    margin: 30px 0 0 0;
    padding: 10px ;
    background-color: #bfbfbf;
    border-radius: 20px;
}

.core{
    margin: 30px 0 0 0;
    padding: 10px ;
    background-color: #eae7e7;
    border-radius: 20px;
}
.core ul{
    width: 100%;
    list-style-type: none;
    text-align: center;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.core ul a{
    display: block;
    color: white;
    font-size: 22px;
    text-transform: uppercase;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border: solid;
}

.core ul li{
    float: left;
}

.core li a:hover{
    background-color: none;
}

table{
    border-collapse: collapse;
    width: 90%;
    margin: 10px;
}

th, td {
    text-align: left;
    padding: 8px;
}

th {
    background-color: #c5f1ee;
    color: black;
}

tr:nth-child(even){background-color: #f2f2f2}

.place {
    width: 32%;
    display: inline-block;
    margin: 5px 0 0 5px;
    padding: 2px;
    border-radius: 5px;
}

.new {
    background-color: #c9ebf8;
}

.progress {
    background-color: #0790b8;
}

.done {
    background-color: #bfbfbf;
}

.watched{
    margin: 30px 0 0 0;
    padding: 10px ;
    background-color: white;
    border-radius: 20px;
    width: 45%;
    display: inline-block
}

.unwatched{
    margin: 30px 0 0 0;
    padding: 10px ;
    background-color: #eae7e7;
    border-radius: 20px;
    width: 45%;
    display: inline-block
}