<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/Styles.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <header>
        <div class="nav">
            <ul>
                <li><a class="active" href="#Index"><i class="fa fa-home" style="font-size:30px"></i>Home</a></li>
                <li><a href="#Index"><i class="fa fa-money" style="font-size:30px"></i>Budget</a></li>
                <li><a href="#Index"><i class="fa fa-list-alt" style="font-size:30px"></i>Board</a></li>
                <li><a href="#Index"><i class="fa fa-video-camera" style="font-size:30px"></i>Movies</a></li>
                <li><a href="#Index"><i class="fa fa-cogs" style="font-size:30px"></i>Tips & tricks</a></li>
                <li class="logout" style="float:right"><a href="#Index"><i class="fa fa-unlock" style="font-size:30px"></i>Logout</a></li>
            </ul>
        </div>
    </header>
    <div>
        @RenderBody()
    </div>
    <footer>
        <p>
            @DateTime.Now.Date
        </p>
    </footer>
</body>
</html>
