
@{
    ViewBag.Title = "Notes";
}

<h1>Notes</h1>
<h3>Clean the dishes</h3>
<p>This is very important to do! If not, they will be dirty!</p>
<h3>Take the rabbit for a walk</h3>
<p>Rabbit needs to be walked, or it will poop itself in the flat</p>
