
@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="movies-main">
<h2>Movies</h2>
    <div class="movies-main head">
        <label>Title:</label>
        <input placeholder="Movie title..." />
        <label>Who's idea was it?</label>
        <select>
            <option>Bazinka</option>
            <option>Baź</option>
        </select>
        <label>Cinema or TV?</label>
        <select>
            <option>Cinema</option>
            <option>TV</option>
        </select>
        <input type="submit" />
        <div class="movies-main watched">
            <h3>Watched:</h3>
            <table>
                <tr>
                    <th>Title</th>
                    <th>Bazinka's mark</th>
                    <th>Baź's mark</th>
                </tr>
                <tr>
                    <td>Star Wars Episode III</td>
                    <td>10</td>
                    <td>10</td>
                </tr>
                <tr>
                    <td>Matrix</td>
                    <td>9</td>
                    <td>9,5</td>
                </tr>
                <tr>
                    <td>Sausage Party</td>
                    <td>1</td>
                    <td>2</td>
                </tr>
            </table>
        </div>
        <div class="movies-main unwatched">
            <h3>To watch:</h3>
            <table>
                <tr>
                    <th>Title</th>
                    <th>Who's idea?</th>
                    <th>Cinema or TV?</th>
                </tr>
                <tr>
                    <td>Power Rangers</td>
                    <td>Baź</td>
                    <td>Cinema</td>
                </tr>
                <tr>
                    <td>Jackie</td>
                    <td>Bazinka</td>
                    <td>Cinema</td>
                </tr>
                <tr>
                    <td>Star Wars Epizode VIII</td>
                    <td>Baź</td>
                    <td>Cinema</td>
                </tr>
            </table>

        </div>
    </div>
</div>


