
@{
    ViewBag.Title = "Budget";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="budget-main">
    <h1>Budget</h1>
    <div class="budget-main head">
        <h3>Month</h3>
        <select>
            <option>February 2017</option>
            <option>January 2017</option>
            <option>December 2016</option>
        </select>
        <div class="budget-main core">
                <ul>
                    <li><a><i class="fa fa-home" style="font-size:120px; color:#808080" ></i></a></li>
                    <li><a><i class="fa fa-newspaper-o" style="font-size:120px; color:#808080"></i></a></li>
                    <li><a><i class="fa fa-apple" style="font-size:120px; color:#808080"></i></a></li>
                    <li><a><i class="fa fa-flask" style="font-size:120px; color:#808080"></i></a></li>
                    <li><a><i class="fa fa-smile-o" style="font-size:120px; color:#808080"></i></a></li>
                </ul>
        </div>
    </div>
</div>
