
@{
    ViewBag.Title = "Budget";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="budget-main">
    <h1>Budget</h1>
    <div class="budget-main head">
        <span style="font-size: 20px">Month: </span>
        <select>
            <option>February 2017</option>
            <option>January 2017</option>
            <option>December 2016</option>
        </select>

        <div class="budget-main core">
            <label>Name: </label>
            <input placeholder="Name of the product..." />
            <label>Price: </label>
            <input placeholder="Price of the product..." />
            <label>Date: </label>
            <input type="date" />
            <label>Category: </label>
            <select>
                <option>Home</option>
                <option>Food</option>
                <option>Clothes</option>
                <option>Fun</option>
                <option>Chemistry</option>
                <option>Payments</option>
                <option>Cars</option>
            </select>
            <input type="submit" placeholder="Submit" />
                <table>
                    <tr>
                        <th>What?</th>
                        <th>Category</th>
                        <th>When?</th>
                        <th>How much?</th>
                    </tr>
                    <tr>
                        <td>Popcorn</td>
                        <td><i class="fa fa-apple" style="font-size:24px"></i></td>
                        <td>20.02.2017</td>
                        <td>1,29</td>
                    </tr>
                    <tr>
                        <td>Armchair</td>
                        <td><i class="fa fa-bed" style="font-size:24px"></i></td>
                        <td>21.02.2017</td>
                        <td>250</td>
                    </tr>
                    <tr>
                        <td>T-shirt</td>
                        <td><i class="fa fa-female" style="font-size:24px"></i></td>
                        <td>22.02.2017</td>
                        <td>31,99</td>
                    </tr>
                    <tr>
                        <td>Popcorn</td>
                        <td><i class="fa fa-apple" style="font-size:24px"></i></td>
                        <td>20.02.2017</td>
                        <td>1,29</td>
                    </tr>
                </table>

        </div>
    </div>
</div>
