
@{
    ViewBag.Title = "Tips";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="tips-main">
    <h2>Tips</h2>
    <div class="tips-main head">
        <label>Category: </label>
        <select>
            <option>All</option>
            <option>Cooking</option>
            <option>Cleaning</option>
            <option>Cars</option>
        </select>
        <div class="tips-main core">
            <div class="tips-main article">
                <i class="fa fa-apple" style="font-size: 24px"><span style="font-size:24px; font-family: 'Segoe UI'"> Cooking a lasagne</span></i>
                <ol>
                    <li>Take pasta and cook it</li>
                    <li>Buy a lot of cheese</li>
                    <li>Eat it!</li>
                </ol>
            </div>
        </div>
    </div>
</div>

